.App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.task-container {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #ff6565;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d24545;
}

.cursor-pointer {
    cursor: pointer;
}